/*Styles for All Books, Personal Bible Reader Project
Created by Antoine RJ Wright
Created: 12/25/2011
Last Modified: 1:18 PM 5/2/2012 */

		html {color:#000;background-color:#FFF; font:1em arial,sans-serif;}
		body {font-family:arial, sans-serif;}
		a, a:visited {color:#000; text-decoration:none;}
			a:hover, a:focus {color:#FFD700; text-decoration:underline; cursor:pointer;}
		header {font-size:.6em;height:1.75em; border-bottom:1px solid #000; padding:.5em 0; margin-bottom: .5em; position:absolute; top:0px; overflow:hidden;}
			header h1 {width: 5em; display:inline; font-size:1em;}
				header h1:hover {cursor:pointer;}
			header nav {margin-left: 5.5em; margin-top:-1.5em;}
				header nav a, header nav span {padding:.25em; display:inline-block; height: 1.5em;}
				header nav a.active, header nav span {color:#FFF; background-color:#FFD700; text-decoration:none;}
		section.home ul li {list-style-type:none; display:inline-block; float:left;}
			section.home ul li a {border:1px solid #F1F1F1;  padding: .5em; width: 5em; }
		section.books ul, section.other ul {margin-left:-2.5em;}
		section.books ul li, section.other ul li {display:inline-block;  float:left;}
		section.books ul li a {background-color:transparent; border: 1px solid #F1F1F1; padding: .5em; width: 3.5em; height:2.5em; display:block; font-weight:500;}
			section.books ul li a {color:#000;}
				section.books ul li a.clicked1 {color:#333;}
				section.books ul li a.clicked2 {color:#666;}
				section.books ul li a.clicked3 {color:#999;}
				section.books ul li a.clicked4 {color:#CCC;}
				section.books ul li a.clicked5 {color:transparent;}
			section.books ul li a:focus {border-color:#F90; background-color:#F1F1F1;}
			section.ot ul li a {background-color:#0CC; }
				section.ot ul li a.torah, ul.torah li a  {background-color:#C1CDCD; 
					background: #00cccc; /* Old browsers */
					background: -moz-linear-gradient(top, #00cccc 0%, #c1cdcd 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00cccc), color-stop(100%,#c1cdcd)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, #00cccc 0%,#c1cdcd 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, #00cccc 0%,#c1cdcd 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, #00cccc 0%,#c1cdcd 100%); /* IE10+ */
					background: linear-gradient(top, #00cccc 0%,#c1cdcd 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cccc', endColorstr='#c1cdcd',GradientType=0 ); /* IE6-9 */}
				section.ot ul li a.poetry, ul.poetry li a  {background-color:#9A32CD;
					background: #00CCCC; /* Old browsers */
					background: -moz-linear-gradient(top, #00CCCC 0%, #9A32CD 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00CCCC), color-stop(100%,#9A32CD)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, #00CCCC 0%,#9A32CD 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, #00CCCC 0%,#9A32CD 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, #00CCCC 0%,#9A32CD 100%); /* IE10+ */
					background: linear-gradient(top, #00CCCC 0%,#9A32CD 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00CCCC', endColorstr='#9A32CD',GradientType=0 ); /* IE6-9 */}
				section.ot ul li a.minor, ul.minor li a {background-color:#C1FFC1;
					background: #00cccc; /* Old browsers */
					background: -moz-linear-gradient(top, #00cccc 0%, #C1FFC1 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00cccc), color-stop(100%,#C1FFC1)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, #00cccc 0%,#C1FFC1 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, #00cccc 0%,#C1FFC1 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, #00cccc 0%,#C1FFC1 100%); /* IE10+ */
					background: linear-gradient(top, #00cccc 0%,#C1FFC1 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cccc', endColorstr='#C1FFC1',GradientType=0 ); /* IE6-9 */}
			section.apocrypha ul li a {background-color:#0EE;}
			section.nt ul li a {background-color:#0F9; }
				section.nt ul li a.gspl, ul.gspl li a  {background-color:#00FF99;
					background: #00FF99; /* Old browsers */
					background: -moz-linear-gradient(top, #FA8072 0%, #00FF99 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FA8072), color-stop(100%,#00FF99)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, #FA8072 0%,#00FF99 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, #FA8072 0%,#00FF99 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, #FA8072 0%,#00FF99 100%); /* IE10+ */
					background: linear-gradient(top, #FA8072 0%,#00FF99 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FA8072', endColorstr='#00FF99',GradientType=0 ); /* IE6-9 */}
				section.nt ul li a.plltr, ul.plltr li a  {background-color:#FFFFF2;
					background: #00FF99; /* Old browsers */
					background: -moz-linear-gradient(top, #FFFFF2 0%, #00FF99 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFF2), color-stop(100%,#00FF99)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, #FFFFF2 0%,#00FF99 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, #FFFFF2 0%,#00FF99 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, #FFFFF2 0%,#00FF99 100%); /* IE10+ */
					background: linear-gradient(top, #FFFFF2 0%,#00FF99 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFF2', endColorstr='#00FF99',GradientType=0 ); /* IE6-9 */}
			section.other h2 {clear:both; display:block; margin-top: 3em;}
			section.other ul li a, .btt {background-color:#0D9;}
				a.bks {background-color:#00DD99;
					background: #00DD99; /* Old browsers */
					background: -moz-linear-gradient(top, #FFF68F 0%, #00DD99 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF68F), color-stop(100%,#00DD99)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, #FFF68F 0%,#00DD99 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, #FFF68F 0%,#00DD99 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, #FFF68F 0%,#00DD99 100%); /* IE10+ */
					background: linear-gradient(top, #FFF68F 0%,#00DD99 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF68F', endColorstr='#00DD99',GradientType=0 ); /* IE6-9 */}
				a.rulers {background-color:#00DD99;
					background: #00DD99; /* Old browsers */
					background: -moz-linear-gradient(top, #EEE685 0%, #00DD99 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEE685), color-stop(100%,#00DD99)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, #EEE685 0%,#00DD99 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, #EEE685 0%,#00DD99 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, #EEE685 0%,#00DD99 100%); /* IE10+ */
					background: linear-gradient(top, #EEE685 0%,#00DD99 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEE685', endColorstr='#00DD99',GradientType=0 ); /* IE6-9 */}
				a.chron {background-color:#00DD99;
					background: #00DD99; /* Old browsers */
					background: -moz-linear-gradient(top, #CDC673 0%, #00DD99 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDC673), color-stop(100%,#00DD99)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, #CDC673 0%,#00DD99 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, #CDC673 0%,#00DD99 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, #CDC673 0%,#00DD99 100%); /* IE10+ */
					background: linear-gradient(top, #CDC673 0%,#00DD99 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CDC673', endColorstr='#00DD99',GradientType=0 ); /* IE6-9 */}
			section.about ul li a {background-color:#0B9;}
				section.about ul li ul.about-aa li {width: 85%; margin: 1em .5em; background-color:none; font-size:.75em; line-height: 1.75em;}
				section.about ul li ul.about-aa li a, section.about ul li ul.about-aa li a:visited {display:inline; width: auto; height: auto; text-decoration:underline; color:#FFF;}
			.btt {padding: .5em; color:#FFF;}
		ul.chapters, ul.contributions, ul.about-aa {margin-left:-2em; display:none;}
		iframe.content {width:98%; height:97%; max-height:97%; position:absolute; top:1.5em; margin-left:3px; display:block; overflow:scroll;}
			iframe p span {display:none;}
		section.content, sup {display:none;}